// <Resetting styles>
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
}

ul {
	list-style: none;
}

fieldset {
	border: none;
}
// </Resetting styles>

.header,
.footer {
	background-color: #000000;
	padding-top: 28px;
	padding-bottom: 28px;
}

.main {
	background-color: #111111;
	padding-top: 40px;
	padding-bottom: 88px;
}

body {
	color: #f2f2f2;
	font-family: 'Rajdhani', sans-serif;
}

.container {
	padding: 0 24px;
	margin: 0 auto;

	&--narrow {
		max-width: 512px;
	}

	&--wide {
		max-width: 1440px;
	}

	&--outer {
		margin: 0 auto;
		max-width: 512px;
		@media (min-width: 1260px) {
			max-width: 1440px;
		}
	}

	&--main {
		@media (min-width: 1260px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
}

.form,
.illustration {
	@media (min-width: 1260px) {
		flex: 1 1 auto;
		align-self: stretch;
	}
}

.illustration {
	display: none;
	transition: opacity 0.3s;

	@media (min-width: 1260px) {
		align-self: flex-end;
		height: 612px;
		max-width: 50%;
		display: initial;
	}
}

.h1 {
	font-size: 72px;
	font-weight: bold;
	margin-bottom: 56px;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		height: 10px;
		bottom: -7px;
		left: 0;
		margin: 0px auto;
		width: 128px;
		background: #408a60;
	}
}

.label {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 12px;

	&--block {
		display: block;
	}

	&__currency {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: initial;
	}

	&__checkbox {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: initial;
		margin-left: 12px;

		span {
			color: #408a60;
			font-weight: bold;
		}
	}
}

.button {
	width: 100%;
	padding: 12px 0;
	color: #f2f2f2;
	background-color: #408a60;
	border: 2px solid #408a60;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	transition: border-color 0.2s;

	&:focus,
	&:active {
		outline-color: #f2f2f2;
	}

	&--submit {
		margin-top: 56px;
		cursor: pointer;

		&:hover {
			border-color: white;
		}
	}
}

.input {
	border: 2px solid #4f4f4f;
	background-color: transparent;
	padding: 16px;
	display: block;
	width: 100%;
	color: #f2f2f2;
	font-family: Rajdhani;
	transition: all 0.2s;

	&:focus,
	&:active {
		outline-color: #f2f2f2;
	}

	&:hover {
		border-color: #949494;
	}

	&--radio {
		border: initial;
		background-color: initial;
		padding: initial;
		display: initial;
		width: initial;

		&:focus,
		&:active {
			outline-color: initial;
		}
	}

	&--checkbox {
		&:focus,
		&:active {
			outline-color: initial;
		}
	}
}

.formGroup {
	&:not(:first-child) {
		margin-top: 24px;
	}

	&__currency {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}

	&--hideable {
		display: none;
	}

	&--hideable.active {
		display: initial;
	}
}

.currencyContainer {
	padding-left: 24px;
	display: flex;
	align-items: center;

	&__input {
		margin-right: 8px;
	}

	&:not(:first-child) {
		margin-top: 8px;
	}
}

.checkboxContainer {
	display: flex;
	align-items: center;

	&:not(:first-child) {
		margin-top: 8px;
	}
}

.footer {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}

.a {
	font-weight: bold;
	font-size: 18px;
	color: #408a60;
	text-decoration: none;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;

	&__text--first {
		margin-right: 16px;
		font-weight: 500;
		font-size: 14px;

		@media (min-width: 640px) {
			font-size: 18px;
		}
	}

	&__text--link {
		display: none;
		text-decoration: none;
		color: #f2f2f2;

		@media (min-width: 640px) {
			display: inline-block;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__register {
		display: flex;
		align-items: center;
	}

	&__links {
		font-weight: bold;
		font-size: 24px;
		display: flex;
	}

	img {
		@media (min-width: 640px) {
			margin-right: 12px;
		}
	}

	&__link {
		padding: 4px 8px;
		border: 2px solid #fff;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			border-bottom: 2px solid transparent;

			&:focus,
			&:active {
				outline: none;
				border-bottom: 2px solid white;
			}
		}

		@media (min-width: 640px) {
			padding: 4px 12px;
		}

		&:first-child {
			margin-right: 8px;
		}

		transition: 0.2s border, 0.2s background-color;

		&:hover {
			background-color: #408a60;
			border: 2px solid #fff !important;
		}
	}

	&__link.active {
		background-color: #408a60;
		border: 2px solid transparent;
	}
}

.logo {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;

	@media (min-width: 640px) {
		font-size: 36px;
	}
}
