*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hide {
  opacity: 0;
}

.dimmed {
  opacity: 0.3;
}

.offTheScreen {
  left: -3000px !important;
}

.disabled {
  cursor: wait;
}

.header,
.footer {
  background-color: #000000;
  padding-top: 28px;
  padding-bottom: 28px;
}

.main {
  background-color: #111111;
  padding-top: 40px;
  padding-bottom: 88px;
  position: relative;
}

body {
  color: #f2f2f2;
  font-family: 'Rajdhani', sans-serif;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
}

.container--narrow {
  max-width: 512px;
}

.container--wide {
  max-width: 1440px;
}

.container--outer {
  margin: 0 auto;
  max-width: 512px;
}

@media (min-width: 1260px) {
  .container--outer {
    max-width: 1440px;
  }
}

@media (min-width: 1260px) {
  .container--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 1260px) {
  .form,
  .illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.illustration {
  display: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 1260px) {
  .illustration {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 612px;
    max-width: 50%;
    display: initial;
  }
}

.h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 56px;
  position: relative;
}

.h1:after {
  position: absolute;
  content: '';
  height: 10px;
  bottom: -7px;
  left: 0;
  margin: 0px auto;
  width: 128px;
  background: #408a60;
}

.h2 {
  font-size: 30px;
  margin-bottom: 24px;
}

.label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
}

.label--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.label--block {
  display: block;
}

.label__currency {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: initial;
}

.label__checkbox {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: initial;
  margin-left: 12px;
}

.button {
  width: 100%;
  padding: 12px 0;
  color: #f2f2f2;
  background-color: #408a60;
  border: 2px solid #408a60;
  font-family: Rajdhani;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.button:focus, .button:active {
  outline-color: #f2f2f2;
}

.button--submit {
  margin-top: 56px;
  cursor: pointer;
}

.button--submit:hover {
  border-color: white;
}

.input {
  border: 2px solid #4f4f4f;
  background-color: transparent;
  padding: 16px;
  display: block;
  width: 100%;
  color: #f2f2f2;
  font-family: Rajdhani;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input:focus, .input:active {
  outline-color: #f2f2f2;
}

.input:hover {
  border-color: #949494;
}

.input--radio {
  border: initial;
  background-color: initial;
  padding: initial;
  display: initial;
  width: initial;
}

.input--radio:focus, .input--radio:active {
  outline-color: initial;
}

.input--checkbox:focus, .input--checkbox:active {
  outline-color: initial;
}

.formGroup:not(:first-child) {
  margin-top: 24px;
}

.formGroup__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.formGroup--fixedHeight {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  min-height: 88px;
}

.currencyContainer {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currencyContainer__input {
  margin-right: 8px;
}

.currencyContainer:not(:first-child) {
  margin-top: 8px;
}

.checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkboxContainer:not(:first-child) {
  margin-top: 8px;
}

.footer {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.a {
  font-weight: bold;
  font-size: 18px;
  color: #408a60;
  text-decoration: none;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__text--first {
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 640px) {
  .header__text--first {
    font-size: 18px;
  }
}

.header__text--link {
  display: none;
  text-decoration: none;
  color: #f2f2f2;
}

@media (min-width: 640px) {
  .header__text--link {
    display: inline-block;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  font-weight: bold;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 640px) {
  .header img {
    margin-right: 12px;
  }
}

.header__link {
  padding: 4px 8px;
  border: 2px solid #fff;
  -webkit-transition: 0.2s border, 0.2s background-color;
  transition: 0.2s border, 0.2s background-color;
}

.header__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.header__link a:focus, .header__link a:active {
  outline: none;
  border-bottom: 2px solid white;
}

@media (min-width: 640px) {
  .header__link {
    padding: 4px 12px;
  }
}

.header__link:first-child {
  margin-right: 8px;
}

.header__link:hover {
  background-color: #408a60;
  border: 2px solid #fff !important;
}

.header__link.active {
  background-color: #408a60;
  border: 2px solid transparent;
}

.text--err {
  font-family: Rajdhani;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #eb5757;
  text-align: right;
}

.text--success {
  color: #408a60;
}

.text--emphasized {
  color: #408a60;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

@media (min-width: 640px) {
  .logo {
    font-size: 36px;
  }
}

#spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#main {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.p {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */