*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.hide {
  opacity: 0;
}

.dimmed {
  opacity: 0.3;
}

.offTheScreen {
  left: -3000px !important;
}

.disabled {
  cursor: wait;
}

.header,
.footer {
  background-color: #000000;
  padding-top: 28px;
  padding-bottom: 28px;
}

.main {
  background-color: #111111;
  padding-top: 40px;
  padding-bottom: 88px;
  position: relative;
}

body {
  color: #f2f2f2;
  font-family: 'Rajdhani', sans-serif;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
}

.container--narrow {
  max-width: 512px;
}

.container--wide {
  max-width: 1440px;
}

.container--outer {
  margin: 0 auto;
  max-width: 512px;
}

@media (min-width: 1260px) {
  .container--outer {
    max-width: 1440px;
  }
}

@media (min-width: 1260px) {
  .container--main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.transition {
  transition: all 0.3s;
}

@media (min-width: 1260px) {
  .form,
  .illustration {
    flex: 1 1 auto;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

.illustration {
  display: none;
  transition: opacity 0.3s;
}

@media (min-width: 1260px) {
  .illustration {
    align-self: flex-end;
    height: 612px;
    max-width: 50%;
    display: initial;
  }
}

.h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 56px;
  position: relative;
}

.h1:after {
  position: absolute;
  content: '';
  height: 10px;
  bottom: -7px;
  left: 0;
  margin: 0px auto;
  width: 128px;
  background: #408a60;
}

.h2 {
  font-size: 30px;
  margin-bottom: 24px;
}

.label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
}

.label--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label--block {
  display: block;
}

.label__currency {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: initial;
  display: flex;
  cursor: pointer;
}

.label__checkbox {
  display: flex;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: initial;
  margin-left: 12px;
}

.button {
  width: 100%;
  padding: 12px 0;
  color: #f2f2f2;
  background-color: #408a60;
  border: 2px solid #408a60;
  font-family: Rajdhani;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  transition: border-color 0.2s;
}

.button:focus, .button:active {
  outline-color: #f2f2f2;
}

.button--submit {
  margin-top: 56px;
  cursor: pointer;
}

.button--submit:hover {
  border-color: white;
}

.input {
  border: 2px solid #4f4f4f;
  background-color: transparent;
  padding: 16px;
  display: block;
  width: 100%;
  color: #f2f2f2;
  font-family: Rajdhani;
  transition: all 0.2s;
}

.input:focus, .input:active {
  outline-color: #f2f2f2;
}

.input:hover {
  border-color: #949494;
}

.input--radio {
  border: initial;
  background-color: initial;
  padding: initial;
  display: initial;
  width: initial;
}

.input--radio:focus, .input--radio:active {
  outline-color: initial;
}

.input--checkbox {
  display: none;
}

.input--checkbox:focus, .input--checkbox:active {
  outline-color: initial;
}

.formGroup:not(:first-child) {
  margin-top: 24px;
}

.formGroup__currency {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.formGroup--fixedHeight {
  transition: opacity 0.3s;
  min-height: 88px;
}

.currencyContainer {
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.currencyContainer__input {
  display: none;
}

.currencyContainer__input:checked + label span::after {
  opacity: 1;
}

.currencyContainer:not(:first-child) {
  margin-top: 8px;
}

.currencyContainer__customRadio {
  height: 20px;
  width: 20px;
  border: 3px solid #408a60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.currencyContainer__customRadio::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #408a60;
  transition: 0.3s opacity;
  opacity: 0;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer:not(:first-child) {
  margin-top: 8px;
}

.checkboxContainer__input {
  display: none;
}

.checkboxContainer__input:checked + label span::after {
  opacity: 1;
}

.checkboxContainer__customCheckbox {
  height: 20px;
  width: 20px;
  border: 3px solid #408a60;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.checkboxContainer__customCheckbox::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background-color: #408a60;
  transition: 0.3s opacity;
  opacity: 0;
}

.footer {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.a {
  font-weight: bold;
  font-size: 18px;
  color: #408a60;
  text-decoration: none;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__text--first {
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 640px) {
  .header__text--first {
    font-size: 18px;
  }
}

.header__text--link {
  display: none;
  text-decoration: none;
  color: #f2f2f2;
}

@media (min-width: 640px) {
  .header__text--link {
    display: inline-block;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__register {
  display: flex;
  align-items: center;
}

.header__links {
  font-weight: bold;
  font-size: 24px;
  display: flex;
}

@media (min-width: 640px) {
  .header img {
    margin-right: 12px;
  }
}

.header__link {
  padding: 4px 8px;
  border: 2px solid #fff;
  transition: 0.2s border, 0.2s background-color;
}

.header__link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.header__link a:focus, .header__link a:active {
  outline: none;
  border-bottom: 2px solid white;
}

@media (min-width: 640px) {
  .header__link {
    padding: 4px 12px;
  }
}

.header__link:first-child {
  margin-right: 8px;
}

.header__link:hover {
  background-color: #408a60;
  border: 2px solid #fff !important;
}

.header__link.active {
  background-color: #408a60;
  border: 2px solid transparent;
}

.text--err {
  font-family: Rajdhani;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #eb5757;
  text-align: right;
}

.text--success {
  color: #408a60;
}

.text--emphasized {
  color: #408a60;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

@media (min-width: 640px) {
  .logo {
    font-size: 36px;
  }
}

#spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 300px;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

#main {
  transition: opacity 0.3s;
}

.p {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc2V0LnNjc3MiLCJtYWluLmNzcyIsInN0aWNreUZvb3Rlci5zY3NzIiwidXRpbGl0eS5zY3NzIiwibWFpbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBOzs7RUFHQyxTQUFTO0VBQ1QsVUFBVTtFQUVWLG1CQUFBO0FDQUQ7O0FBRUE7RURFQyxnQkFBQTtBQ0FEOztBQUVBO0VBRVUsc0JBQXNCO0FERWhDOztBQUVBOzs7Ozs7RUFNQyxtQkFBa0I7RUFDbEIsa0JBQUE7RUNBQyxrQkFBa0I7QURFcEI7O0FDQ0E7RUFDRSxnQkFBZ0I7QURFbEI7O0FDQ0E7RUFDRSxZQUFZO0FDakNkOztBRG9DQTs7RUFFRSxZQUFZO0FDakNkOztBRG9DQTtFQ2pDQyxTQUFTO0VBQ1QsVUFBQTtFRHFDQyxhQUFhO0VBSUwsc0JBQXNCO0VDakNoQyxZQUFRO0FEbUNSOztBQUVBO0VFckRDLGNBQUE7QUZ5REQ7O0FBRUE7RUFFTSxjQUFjO0FFdkRwQjs7QUYwREE7RUFDRSxVQUFVO0FFdkRaOztBRjBEQTtFQUNFLFlBQVk7QUduRWQ7O0FIc0VBO0VHbkVDLHdCQUFpQjtBSHFFbEI7O0FBRUE7RUduRUEsWUFBTTtBSHFFTjs7QUFFQTs7RUdsRUMseUJBQUE7RUhxRUMsaUJBQWlCO0VHbkVuQixvQkFBSztBSHFFTDs7QUFFQTtFQUNFLHlCQUF5QjtFR25FM0IsaUJBQVc7RUFDVixvQkFBZTtFQUNmLGtCQUFjO0FIcUVmOztBR25FQztFQUNDLGNBQVc7RUFDWCxtQ0FBQTtBSHNFRjs7QUFFQTtFR3BFRSxlQUFBO0VIc0VBLGNBQWM7QUdwRWY7O0FIdUVEO0VHakVFLGdCQUFBO0FIbUVGOztBQUVBO0VBQ0UsaUJHeEVZO0FIeUVkOztBQUVBO0VHdEVFLGNBQVE7RUFEVCxnQkFBTztBSDBFUjs7QUFFQTtFQUNFO0lBQ0UsaUJBQWlCO0VBQ25CO0FHdEVGOztBSHlFQTtFQUNFO0lHckVGLGFBQWM7SUFLYiw4QkFBQTtJQUVELHVCQUFjO0VBQ2I7QUh3RUQ7O0FBRUE7RUczRUEsb0JBQWM7QUg4RWQ7O0FBRUE7RUFDRTs7SUdyRUUsY0FBQTtJQUVILDJCQUFpQjtJQUNqQixtQkFBbUI7RUFDbkI7QUgwRUQ7O0FHOUVBO0VBT0UsYUFBVTtFQUVWLHdCQUFZO0FIMkVkOztBQUVBO0VHekVFO0lBRUEsb0JBQUE7SUgyRUUsYUFBYTtJR3hFYixjQUFBO0lBQ0gsZ0JBQWU7RUFDZjtBSDBFRDs7QUd2RUE7RUFDQyxlQUFhO0VBQ2IsaUJBQWU7RUFDZixtQkFBbUI7RUE0Qm5CLGtCQUFBO0FIK0NEOztBQUVBO0VHekVFLGtCQUFpQjtFQUNqQixXQUFXO0VBQ1gsWUFBQTtFSDJFQSxZQUFZO0VHekViLE9BQUE7RUFDQyxnQkFBYztFQUNkLFlBQUE7RUgyRUEsbUJBQW1CO0FHekVwQjs7QUg0RUQ7RUd6RUUsZUFBZTtFQUNmLG1CQUFhO0FIMkVmOztBQUVBO0VHekVDLGdCQUFZO0VBQ1gsZUFBYTtFQUNiLG1CQUFlO0FIMkVqQjs7QUFFQTtFQUdFLGFBQWE7RUd0RVAsOEJBQVE7RUFHUCxxQkFBaUI7QUgwRTFCOztBQUVBO0VHeEVDLGNBQVc7QUgwRVo7O0FBRUE7RUdyRkEsZ0JBQUE7RUFjRSxlQUFlO0VBQ2Ysc0JBQUE7RUFHQSxhQUFZO0VBQ1osZUFBZTtBSDBFakI7O0FHNUVFO0VIaUZBLGFBQWE7RUd2RWYsZUFBTztFQUNOLGdCQUFRO0VBQ1IsZUFBQTtFQUNBLHNCQUFhO0VBQ2IsaUJBQWM7QUh5RWY7O0FBRUE7RUd2RUMsV0FBVTtFQStCVixlQUFBO0VIMkNDLGNBQWM7RUdsRmhCLHlCQVdTO0VBQ1AseUJBQXNCO0VBQ3RCLHFCQUFBO0VIeUVBLGtCQUFrQjtFR3RGcEIsaUJBZVM7RUFDUCxlQUFjO0VIMEVkLDZCQUE2QjtBR3ZFOUI7O0FIMEVEO0VHdkVFLHNCQUFnQjtBSHlFbEI7O0FBRUE7RUFDRSxnQkFBZ0I7RUcvRWhCLGVBQU87QUhpRlQ7O0FBRUE7RUd0RUMsbUJBQVk7QUh3RWI7O0FBRUE7RUcxRUUseUJBQUE7RUFJQyw2QkFBc0I7RUFDdEIsYUFBQTtFSHlFRCxjQUFjO0VHckVoQixXQUFVO0VBRVIsY0FBWTtFQUNaLHFCQUFBO0VBRUQsb0JBQVk7QUhzRWI7O0FBRUE7RUdwRUUsc0JBQUE7QUhzRUY7O0FBRUE7RUdwRUUscUJBQWdCO0FIc0VsQjs7QUdsRUE7RUFDQyxlQUFjO0VBQ2QseUJBQWE7RUFDYixnQkFBYTtFQXNDYixnQkFBQTtFSGdDQyxjQUFjO0FHcEVmOztBSHVFRDtFQUNFLHNCQUFzQjtBR3hFdEI7O0FIMkVGO0VBQ0UsYUFBYTtBR2pGZjs7QUhvRkE7RUFDRSxzQkFBc0I7QUdwRXZCOztBSHVFRDtFR25FRSxnQkFBUTtBSHFFVjs7QUFFQTtFR3BERSxhQUFBO0VBUlEsc0JBQU87RUFFZCx5QkFBVTtBSG9FYjs7QUFFQTtFR2pFRyx3QkFBQTtFSG9FRCxnQkFBZ0I7QUdoRWxCOztBSG1FQTtFRzdCQyxrQkFBQTtFQWpDQyxhQUFZO0VBR2IsbUJBQVM7QUhtRVY7O0FBRUE7RUdyRUUsYUFBQTtBSHVFRjs7QUFFQTtFR2pFQyxVQUFBO0FIbUVEOztBQUVBO0VHL0RFLGVBQWE7QUhpRWY7O0FBRUE7RUdwREUsWUFBQTtFSHNEQSxXQUFXO0VHM0VYLHlCQUFBO0VBYUMsa0JBQVc7RUFHWCxhQUFVO0VBR0gsdUJBQUc7RUFLTCxtQkFBQTtFQUNQLGlCQUFnQjtBSCtEakI7O0FBRUE7RUFDRSxXQUFXO0VHN0RYLGNBQUM7RUFDRixXQUFXO0VBQ1gsVUFBUztFQUNULGtCQUFjO0VBQ2QseUJBQXFCO0VIZ0VwQix3QkFBd0I7RUc3RDFCLFVBQVE7QUgrRFI7O0FBRUE7RUc1REUsYUFBWTtFQU9aLG1CQUFBO0FINERGOztBQUVBO0VBQ0UsZUdqRVk7QUhrRWQ7O0FBRUE7RUdoRUMsYUFBQTtBSGtFRDs7QUFFQTtFRzVERSxVQUFBO0FIOERGOztBQUVBO0VBQ0UsWUduRVU7RUhvRVYsV0dsRUE7RUhtRUEseUJBQXlCO0VHaEV6QixhQUFhO0VBR2IsdUJBQUE7RUFHTyxtQkFBTTtFQUNiLGlCQUFhO0FIb0VmOztBR2pFQztFQUNDLFdBQVc7RUFDWCxjQUFXO0VBQ1gsV0FBUztFQUNULFVBQUE7RUhvRUEseUJBQXlCO0VHM0czQix3QkF5Q0s7RUhxRUgsVUduRUM7QUhvRUg7O0FBRUE7RUdsRUMsZ0JBQVE7RUFDUCxlQUFTO0VBQ1Qsa0JBQVE7QUhvRVY7O0FBRUE7RUd4RUUsaUJBSUU7RUFDRCxlQUFhO0VBQ2IsY0FBQTtFQUNBLHFCQUFtQjtBSHNFdEI7O0FBRUE7RUFDRSxpQkFBaUI7RUdoRmpCLG9CQVdRO0FIdUVWOztBQUVBO0VBQ0Usa0JBQWtCO0VHbkVsQixnQkFBaUI7RUFsQmxCLGVBQVE7QUh3RlQ7O0FBRUE7RUFDRTtJRzNGQSxlQUFNO0VBdUJMO0FIdUVIOztBRzlGRTtFQTZCQyxhQUFBO0VBQ0EscUJBQVE7RUFDUixjQUFBO0FIcUVIOztBQUVBO0VHbEVFO0lBQ0EscUJBQUE7RUhvRUE7QUdoRUQ7O0FIbUVEO0VHOURFLGFBQU87RUhvRUMsOEJBQThCO0VHN0R0QyxtQkFBQTtBSGlFRjs7QUFFQTtFQUdFLGFBQWE7RUc1RGQsbUJBQWU7QUhnRWhCOztBQUVBO0VHL0RDLGlCQUFtQjtFQUxwQixlQUFNO0VIeUVKLGFBQWE7QUFDZjs7QUFFQTtFR2hFQztJQUNBLGtCQUFRO0VBQ1I7QUhrRUQ7O0FBRUE7RUFDRSxnQkFBZ0I7RUdoRWxCLHNCQUFNO0VBRUwsOENBQUE7QUhrRUQ7O0FBRUE7RUc5REMsYUFBQTtFSG9FUyx1QkFBdUI7RUFHdkIsbUJBQW1CO0VBQzNCLHFCQUFxQjtFQUNyQixvQ0FBb0M7QUFDdEM7O0FBRUE7RUFDRSxhQUFhO0VBQ2IsOEJBQThCO0FBQ2hDOztBQUVBO0VBQ0U7SUFDRSxpQkFBaUI7RUFDbkI7QUFDRjs7QUFFQTtFQUNFLGlCQUFpQjtBQUNuQjs7QUFFQTtFQUNFLHlCQUF5QjtFQUN6QixpQ0FBaUM7QUFDbkM7O0FBRUE7RUFDRSx5QkFBeUI7RUFDekIsNkJBQTZCO0FBQy9COztBQUVBO0VBQ0UscUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLGNBQWM7RUFDZCxpQkFBaUI7QUFDbkI7O0FBRUE7RUFDRSxjQUFjO0FBQ2hCOztBQUVBO0VBQ0UsY0FBYztFQUNkLGlCQUFpQjtBQUNuQjs7QUFFQTtFQUNFLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YscUJBQXFCO0FBQ3ZCOztBQUVBO0VBQ0U7SUFDRSxlQUFlO0VBQ2pCO0FBQ0Y7O0FBRUE7RUFDRSxrQkFBa0I7RUFDbEIsU0FBUztFQUNULFFBQVE7RUFDUixZQUFZO0VBRUosZ0NBQWdDO0VBRXhDLHdCQUF3QjtBQUMxQjs7QUFFQTtFQUVFLHdCQUF3QjtBQUMxQjs7QUFFQTtFQUNFLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsZUFBZTtBQUNqQiIsImZpbGUiOiJtYWluLnByZWZpeC5jc3MifQ== */